
# Card Verification Status

Verification status of Card.

## Enumeration

`CardVerificationStatus`

## Fields

| Name | Description |
|  --- | --- |
| `Verified` | Card has been verified |
| `Failed` | Card verification has failed |

## Example

```ts
import { CardVerificationStatus } from 'automated-package-publishing-sdk';

const cardVerificationStatus = CardVerificationStatus.Verified;
```

